.hero {
    height: 70vh;
    display: flex;
    align-items: center;
}
.form__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.hero-main button {
    max-width: 250px;
}
.hero-form {
    display: flex;
}
.hero-title {
    max-width: 800px;
}