.footer-wrap {
    width: 100%;
}
.footer-text__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-text {
    text-align: left;
}
.social-i__wrap {
    display: flex;
    max-width: 100px;
    min-width: 100px;
    justify-content: space-between;
}

.footer-menu__title {
    text-align: left;
}
.footer-menu .footer-menu__item {
    text-align: left;
    padding: 0.1rem 0 0.1rem 0;
    font-size: 0.95rem;
    text-transform: none;
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .footer-menu__item {
    padding-right: 0.5rem;
    padding-left: 0.1rem !important;
}
}