.catalog-item__descr {
    margin: 0.5em 0;
    font-size: 1.2em;
}
.catalog-item__price {
    font-weight: 500;
    font-size: 21px;
}
.catalog-item__dim {
    font-size: 1.2em;
}
.catalog-item__thick {
    font-size: 1.2em;
    margin: 0.5em 0;
}
.catalog-item__color {
    font-size: 1.2em;
}
.catalog-item__link {
    display: inline-block;
    margin-top: 0.5em;
}
.catalog-markers {
    margin-top: 0.5em;
}