.side-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    font-weight: 500;
}
.side-nav-item {
    font-size: 23px;
    padding: 0.8em;
    color: gray;
    margin-left: 5em;
}